@use '../util/' as *;

.card {
  height: rem(750);
  width: 100%; // Use 100% width to allow it to shrink
  max-width: rem(500); // Set a maximum width
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: rem(40);
  background: var(--very-dark-blue-card-bg);
  border-radius: rem(20);
  
  
  // Inner container styling
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem(10);
  }
  
  
  &__title {
    cursor: pointer;
    transition: 150ms ease-in-out;
  }
  
  &__title:hover {
    color: var(--cyan);
  }
  
  .card__img {
    position: relative;
    height: 380px; /* Cyan background height */
    width: 100%;
    max-width: 420px;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    transition: background-image 150ms ease;
    
    &:hover {
      background-color: var(--cyan);
      
    }
  }
  
  .card__cube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: opacity 300ms ease;
  }
  
  .card__view {
    position: absolute;
    fill: var(--white);
    top: 50%; /* Move to the middle */
    left: 50%; /* Move to the middle */
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
    width: auto;
    height: 60px; /* Set the height of the view image */
    z-index: 2;
    opacity: 0; /* Start with the second image hidden */
    transition: opacity 300ms ease;
  }
  
  .card__img:hover .card__cube {
    opacity: 50%; /* Hide the first image on hover */
  }
  
  .card__img:hover .card__view {
    opacity: 1; /* Show the second image on hover */
    
  }
  
  .ethereum {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--cyan);
    gap: rem(10);
    grid-column: 1;
  }
  
  .time--left {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--soft-blue);
    gap: rem(10);
    grid-column: 4;
  }
  
  &__avatar {
    height: 50px;
    border: 2px solid var(--white);
    border-radius: 999px;
  }

  // Responsive adjustments for smaller screens
  @media (max-width: 35em) {

    &__img {
      max-height: rem(650);
      height: auto; // Adjust height to maintain aspect ratio
    }
    
    .container {
      display: grid;
      grid-template-columns: .1fr 99fr 2fr;
      grid-template-rows: .1fr -.1fr;
    }
    
    &__avatar {
      grid-column: 1;
    }
    
    .container p {
      grid-column: 2;
      grid-row: 1;
    }
    
    .adjustments {
      grid-column: 2;
      grid-row: 2;
      margin-top: rem(-20);
    }
  }
}